<div >
    <ngx-datatable data-testid="department-table" [rows]="result.items" [count]="result.totalCount" default>
        <ngx-datatable-column [name]="'::Họ Tên' | abpLocalization" prop="name"></ngx-datatable-column> 
        <ngx-datatable-column [name]="'::Số ĐT' | abpLocalization" prop="phone"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Mã HV' | abpLocalization" prop="phone"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Lớp' | abpLocalization" prop="phone"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Điểm' | abpLocalization" prop="mark"></ngx-datatable-column>
    </ngx-datatable>
</div>