<div class="full-card">

    <mat-tab-group>
        <mat-tab label="Bảng xếp hạng cá nhân">
            <ngx-datatable data-testid="department-table" [rows]="result.items" [count]="result.totalCount"
                [list]="list" default>
                <ngx-datatable-column [name]="'Thứ hạng'" prop="rank"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Họ Tên'" prop="name"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Số ĐT'" prop="phone"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Mã HV'" prop="studentId"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Lớp'" prop="classroom"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Khoa'" prop="department.name"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Điểm'" prop="mark"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Thời gian'" prop="time"></ngx-datatable-column>
            </ngx-datatable>
        </mat-tab>
        <mat-tab label="Bảng xếp hạng khoa">
            <ngx-datatable  [rows]="departmentResult.items" [count]="departmentResult.items?.length"
            [list]="list" default>
            <ngx-datatable-column [name]="'Thứ hạng'" prop="rank"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Khoa'" prop="name"></ngx-datatable-column> 
            <ngx-datatable-column [name]="'Tổng Điểm'" prop="totalMark"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Tổng Thời gian'" prop="totalTime"></ngx-datatable-column>
            ><ngx-datatable-column [name]="'Sinh viên tham gia'" prop="student"></ngx-datatable-column>
        </ngx-datatable>
        </mat-tab>
    </mat-tab-group>


</div>