$primary-color: #b60017;

::ng-deep app-results {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card>.mat-card-actions:last-child {
  padding-bottom: 1rem;
}

.example-card {
  max-width: 400px;
  background-color: $primary-color;
  color: white;
}
.mat-card-subtitle {
  color: white;
}

.example-header-image {
  background-image: url('https://image.flaticon.com/icons/png/512/1046/1046270.png');
  background-size: cover;
}

.list-btn {
  display: flex; 
  justify-content: center;
}

mat-card-content {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  padding: 12px 0;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.btn-submit{
    width: 200px; 
    text-transform: uppercase; ;
    font-size: 14px;
    background-color: transparent;
    border: solid 1px #fff;
    transition: background-color 400ms ease-in-out;

    &:hover {
      background-color: rgb(50, 74, 206);
      border-color: rgb(50, 74, 206);
    }
} 