<div class="container">
  <form class="example-form" [formGroup]="studentForm">
    <input formControlName="name" class="input" placeholder="Họ và tên" />

    <input formControlName="phone" type="number" class="input" placeholder="Số điện thoại" />

    <input formControlName="studentId" class="input" placeholder="Mã số sinh viên" />
    <input formControlName="classroom" class="input" placeholder="Lớp" />

    <button
      [class.spinner]="loading"
      [disabled]="loading"
      (click)="onSubmit()"
      class="btn-submit"
      mat-raised-button
      color="primary"
    >
      Bắt đầu
    </button>
  </form>
</div>
