<div class="container">
  <form class="example-form" [formGroup]="studentForm">
    <input formControlName="name" class="input" placeholder="Họ và tên" />

    <input formControlName="phone" type="number" class="input" placeholder="Số điện thoại" />

    <input formControlName="studentId" class="input" placeholder="Mã số sinh viên" />
    <input formControlName="classroom" class="input" placeholder="Lớp" />

    <select formControlName="departmentId" class="input">
      <option disabled selected hidden value="">Chọn Khoa</option>
      <option value="{{department.id}}" *ngFor="let department of departments">{{department.name}}</option>
    </select>

    <button [class.spinner]="loading" [disabled]="loading" (click)="onSubmit()" class="btn-submit" mat-raised-button
      color="primary">
      Bắt đầu
    </button>
  </form>
</div>