<div class="container">
  <div class="welcome-content">
    <div>
      <h1 class="welcome-text">Chào Mừng</h1>
      <p class="welcome-sub-text">Đến <span class="logo-text">CUỘC THI TRỰC TUYẾN</span></p>
    </div>
  </div>

  <div class="user-info">
    <input [value]="'Họ và tên: ' + studentValue?.name" class="input" disabled />
    <input [value]="'Lớp: ' + studentValue?.classroom" class="input" disabled />

    <button mat-raised-button color="accent" class="start-btn" (click)="onStart()">
      Vào bài thi
    </button>
  </div>
</div>

<ng-template #dialogRef let-data>
  <div class="edutalk-promotion">
    <span matDialogClose class="close-dialog">X</span>
    <img src="assets/edutalk-mobile.png" alt="" />
  </div>
</ng-template>
