<div class="time-left-container">
  <div class="time-left">
    Thời gian: <b style="margin: 0 0.5rem">{{ timeLeft }}</b> giây
  </div>
</div>
<div class="container">
  <div class="list-question" *ngFor="let question of questions">
    <label class="question-label">{{ question.index }} - {{ question.text }}</label>
    <div>
      <mat-radio-group aria-labelledby="question-radio-group-label" class="question-radio-group"
        [(ngModel)]="question.answer" (change)="changeAnswer()">
        <mat-radio-button class="question-radio-button" *ngFor="let answer of question.answers" [value]="answer.id">
          {{ answer.text }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <button [class.spinner]="loading" [disabled]="loading" class="submit-btn" mat-raised-button color="accent"
    (click)="onSave()">
    Nộp Bài
  </button>
</div>