$primary-color: #662d91;

.question-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.question-radio-button {
  margin: 5px;
  font-size: 16px;
}

.question-radio-group-label {
}
