$primary-color: #662d91;

mat-label,
.mat-input-element {
  font-size: 18px;
  color: white !important;
}

.container {
  width: 1280px;
  max-width: 100%;
  color: white;
  .question-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .question-radio-button {
    margin: 5px;
    font-size: 16px;
  }

  .welcome-content {
    .welcome-text {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 0;
    }

    .welcome-sub-text {
      font-weight: bold;
      font-size: 26px;

      .logo-text {
        font-size: 36px;
        font-weight: 900;
        line-height: 1.3;
        letter-spacing: 1px;
        margin: 0 4px;
      }
    }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .example-full-width {
      flex: 1;
      margin-right: 15px;
    }

    .start-btn {
      width: 100%;
      height: 40px;
      text-transform: uppercase;
      background-color: $primary-color;
      flex: 2;
      height: 55px;
      font-size: 18px;

      &.hidden {
        display: none;
      }
    }
  }
}

.time-left {
  font-size: 18px;
  padding-bottom: 20px;
}

.submit-btn {
  background-color: $primary-color;
  margin-bottom: 30px;
}

::ng-deep {
  .content {
    background: url('/assets/bg-question.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  app-question {
    height: 100vh;
    width: 100%;
    display: flex;

    .container {
      margin: auto auto 2rem auto;
    }
  }
}
