<div class="container">
  <div class="welcome-content {{ started ? 'start-test' : '' }}">
    <div>
      <h1 class="welcome-text">Chào Mừng</h1>
      <p class="welcome-sub-text">Đến <span class="logo-text">Edutalk</span></p>
    </div>
  </div>

  <div class="user-info">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Họ và tên</mat-label>
      <input disabled value="{{ studentValue?.name }}" class="input" matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Lớp</mat-label>
      <input disabled value="{{ studentValue?.classroom }}" class="input" matInput />
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      class="start-btn"
      (click)="onStart()"
      [class]="started ? 'hidden' : ''"
      [ngStyle]="{ visibility: started ? 'hidden' : 'visible' }"
    >
      Vào bài thi
    </button>
  </div>

  <div [ngStyle]="{ visibility: started ? 'visible' : 'hidden' }">
    <div class="time-left">
      TIME: <b>{{ timeLeft }}</b> S
    </div>
    
    <div *ngFor="let question of questions">
      <label>{{ question.index }} - {{ question.text }}</label>
      <div>
        <mat-radio-group
          aria-labelledby="question-radio-group-label"
          class="question-radio-group"
          [(ngModel)]="question.answer"
          (change)="changeAnswer()"
        >
          <mat-radio-button
            class="question-radio-button"
            *ngFor="let answer of question.answers"
            [value]="answer.id"
          >
            {{ answer.text }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <button class="submit-btn" mat-raised-button color="accent" (click)="onSave()">Nộp Bài</button>
  </div>
</div>
